<h1> Showing article details</h1>
<p>TITLE:</p>
<p><%= @article.title %></p>
<p>DESCRIPTION:</p>
<p><%= @article.description %></p>
<p><%= link_to "Edit", edit_article_path(@article) %></p>
<p><%= link_to "delete", @article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
<p><%= link_to "Back to articles", articles_path %></p>