<h2 class="text-center mt-4"><%= @article.title %></h2>

<div class="container" id="articles-container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow-sm mb-5 bg-white rounded">
        <div class="card-header font-italic bg-info">
          by <%= link_to @article.user.username, user_path(@article.user), class: "text-dark" %>
        </div>
        <div class="card-body ">
          <div class="card-text text-left">
            <%= simple_format(@article.description) %>
          </div>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "edit", edit_article_path(@article), class:"btn btn-outline-info" %>
            <%= link_to "delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-outline-info" %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back to articles", articles_path, class: "text-info ml-2" %>